<div id="Logo">
	<img src="img/Logo.png">
</div>
<div id="Compras" ></div>
<%
	precio_internet = 0 
	precio_normal = 0
%>
<ul id="Productos2" class="Compras">
	<% @data.each do |i| %>
        <% 
            precio_internet += (i[:price].blank? ? i[:normal_price] : i[:price]) * i[:quantity]
            precio_normal   += (i[:normal_price].blank? ? i[:price] : i[:normal_price] ) * i[:quantity]
        %>
		<%= partial 'home/product', locals: {item: i, is_cart: true} %>
	<% end %>
</ul>
<div id="BarraInferior">
	<div id="TotalInternet">
		<p class="Movil">Total Internet</p>
		<p class="Movil"><span><%= number_to_currency precio_internet %></span></p>
		<p class="Tablet">Total Internet <span><%= number_to_currency precio_internet %></span></p>
	</div>
	<div id="TotalNormal">
		<p class="Movil">Total Normal</p>
		<p class="Movil"><span><%= number_to_currency precio_normal %></span></p>
		<p class="Tablet">Total Normal <span><%= number_to_currency precio_normal %></span></p>
	</div>
	<a id="btn_comprar" href="javascript:void()" class="Movil"><img src="img/SiguienteFinal.png"></a>
	<a  id="btn_comprar" href="javascript:void()" class="Tablet"><img src="img/Seguir2.png"></a>
</div>
<script>
    function comprar(e)
    {
        e.preventDefault();
        // ESTA ES LA PARTE DONDE HAY QUE TENER CUIDADO,
        // HAY QUE GUARDAR EN ID EL ID QUE USA EASY PARA LOS PRODUCTOS.
        // ES EL PARÁMETRO ID_PROD DE LA URL DE UN PRODUCTO:
        // http://www.easy.cl/easy/ProductDisplay?mundo=1&id_prod=156828
        <% 
            str_inserta = ""
            @data.each_with_index do |i, k|
                str_inserta << "&id_prod_#{k}=#{i[:number]}&cantidad_l#{k}=#{i[:quantity]}"
            end 
            str_inserta << "&max_productos=#{@data.count}"
        %>
        $.ajax({
                url: '//www.easy.cl/easy/ShowInfoCarro',
                data: 'INSERTA=<%= str_inserta%>',
                cache: false,

                    // LOS DATOS TIENEN QUE SALIR EN JSONP PARA PERMITIR EL CROSS-DOMAIN
                dataType: 'jsonp',
                success: function () {
                    // ACCIONES PARA EL ÉXITO. NO SE USA.
                },
                error: function (a,b,c) {
                       // EL SCRIPT SIEMPRE VA A ARROJAR ERROR, PORQUE LOS DATOS
                    // NO VUELVEN EN JSON. HAY QUE USAR EL ERROR COMO CALLBACK
                    // PARA CONFIRMAR EL ÉXITO DE LA INYECCIÓN
                    
                    window.location = "http://www.easy.cl/easy/CarroComprasForm";
                    
                }
            });

    }
    $(document).ready(function(){
        $(".entero").numeric();
        $('#btn_comprar').click(comprar);
    })

    $('.CantMas').click(function(){
    	var contenedor = $(this).parent();
    	var input = contenedor.find("input");

    	input.attr({
    		'value' : parseInt(input.val())+1
    	});

    	var id = contenedor.parent().attr('id');
		var p_id = id.split("_")[1];
        $.get("<%= url(:api, :add_cart) %>/"+p_id, function(){
        	window.location = "<%= url(:home, :compras) %>";	
        });

        

    	
    })

    $('.CantMenos').click(function(){
    	var contenedor = $(this).parent();
    	var input = contenedor.find("input");

    	var numero = parseInt(input.val())
    	
    	if(numero > 0){
	    	input.attr({
	    		'value' : parseInt(input.val())-1
	    	});
	    }

	    var id = contenedor.parent().attr('id');
		var p_id = id.split("_")[1];
        $.get("<%= url(:api, :del_cart) %>/"+p_id, function(){
        	window.location = "<%= url(:home, :compras) %>";	
        });

    })
</script>