<div id="Logo">
	<img src="img/Logo.png">
</div>
<div id="Compras" ></div>
<%
	precio_internet = 0 
	precio_normal = 0
%>
<ul id="Productos" class="Compras">
	<% @data.each do |i| %>
		<li id="Producto_<%= i[:id] %>" class="Producto">
			<img src="<%= i[:image_url] %>">
			<div class="DetalleProducto">
                <p class="Especificacion"><%= i[:name] %></p>
                <p class="Local"><%= i[:local] %></p>
                <p class="Numero"><%= i[:number] %></p>
                <p>Valor Caja</p>
                <% 
                	precio_internet += i[:price] * i[:quantity]
                	precio_normal += i[:normal_price] * i[:quantity]
                %>
                <p class="PrecioInternet">Internet <span><%= number_to_currency i[:price] %> (-<%= (100-(i[:price]*100.0)/i[:normal_price]).round %>%)</span></p>
                <p class="PrecioNormal"> Precio Normal <span><%= number_to_currency i[:normal_price] %></span></p>
            </div>
			<div class="ContenedorCantidad">
				<a class="CantMas" href="javascript:void(0)"></a>
				<div class="Cantidad" >
					<input name="Cantidad1" type="text" value="<%= i[:quantity] %>" class="entero" disabled>
				</div>
				<a class="CantMenos" href="javascript:void(0)"></a>
			</div>
		</li>
	<% end %>
</ul>
<div id="BarraInferior">
	<div id="TotalInternet">
		<p>Total Internet</p>
		<p><span><%= number_to_currency precio_internet %></span></p>
	</div>
	<div id="TotalNormal">
		<p>Total Normal</p>
		<p><span><%= number_to_currency precio_normal %></span></p>
	</div>
	<a href="#"><img src="img/SiguienteFinal.png"></a>
</div>
</div>
<script>
    $(document).ready(function(){
        $(".entero").numeric();
    })

    $('.CantMas').click(function(){
    	var contenedor = $(this).parent();
    	var input = contenedor.find("input");

    	input.attr({
    		'value' : parseInt(input.val())+1
    	});

    	var id = contenedor.parent().attr('id');
		var p_id = id.split("_")[1];
        $.get("<%= url(:api, :add_cart) %>/"+p_id, function(){
        	window.location = "<%= url(:home, :compras) %>";	
        });

        

    	
    })

    $('.CantMenos').click(function(){
    	var contenedor = $(this).parent();
    	var input = contenedor.find("input");

    	var numero = parseInt(input.val())
    	
    	if(numero > 0){
	    	input.attr({
	    		'value' : parseInt(input.val())-1
	    	});
	    }

	    var id = contenedor.parent().attr('id');
		var p_id = id.split("_")[1];
        $.get("<%= url(:api, :del_cart) %>/"+p_id, function(){
        	window.location = "<%= url(:home, :compras) %>";	
        });

    })
</script>