<div id="modal">
    <div id="Cerrar">
        <a href="javascript:history.back(1)"></a>
    </div>
    <img src="<%= @producto.image_url %>">
    <div id="ContenedorModal">
        <div class="Producto">
            <div class="DetalleModal">
                <p class="Especificacion Movil"><%= @producto.name %></p>
                <% unless @producto.local.blank? %>
                    <p class="Local Movil"><%= @producto.local %></p>
                <% end %>
                <p class="Local Tablet"><%= @producto.name %> / <%= @producto.name %></p>
                <p class="Numero"><%= @producto.number %></p>
                <p>Valor Caja</p>
                <% unless @producto.price.blank? %>
                <p class="PrecioInternet">Internet 
                    <span><%= number_to_currency @producto.price %> 
                        <% unless @producto.normal_price.blank? %>
                            (-<%= (100-(@producto.price*100.0)/@producto.normal_price).round %>%)
                        <% end %>
                        </span>
                </p>
                <% end %>
                <% unless @producto.normal_price.blank? %>
                    <p class="PrecioNormal"> Precio Normal <span><%= number_to_currency @producto.normal_price %></span></p>
                <% end %>
            </div>
        </div>
<!--         <ul id="DescripcionSuperior">
            <span>Descripci칩n</span>
            <li id="Descripcion1">Piso flotante foto laminado.</li>
            <li id="Descripcion2">Sistema Loc (sin pegamento).</li>
            <li id="Descripcion3">F치cil y rapido de instalar.</li>
        </ul>
        <ul id="DescripcionInferior">
            <li class="Modelo">Modelo: Haya piemonte.</li>
            <li class="Medidas">Medidas: .</li>
            <li class="Medidas">Espesor: 8mm.</li>
            <li class="Medidas">Strip: 3 strip.</li>
            <li class="Medidas">Rendimiento x caja: 2,40m2.</li>
            <li class="Medidas">Material: Aglomerado enchapado foto laminado.</li>
            <li class="Medidas">Origen: Austria.</li>
            <li class="Medidas Ultimo">Tama침o para despacho: Peque침o.</li>
        </ul> -->
        <%= @producto.description %>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('body').css({'background-image':'url(../img/Fondo2.png)',
                        'border-color':'#bf3737'
            });
    })
</script>