<div id="Logo">
    <img src="/img/Logo.png">
</div>
<div id="NavBar">
    <a id="Atras" href="<%= url(:home, :categorias) %>">
        <img src="/img/Atras.png">
    </a>
    <a id="Inicio" href="/">
        <img src="/img/Inicio.png">
    </a>
    <% unless @categoria.blank? %>
        <input value="<%= @categoria.name %>" type="button">
    <% end %>
    <a id="Siguiente" href="<%= url(:home, :compras) %>">
        <img src="/img/Siguiente.png">
    </a>
</div>
<% unless @categoria.blank? %>
    <div id="CategoriaSelected" >
        <img src="/img/Ticket.png">
        <input value="<%= @categoria.name %>" type="button">
    </div>
<% end %>

<ul id="Productos">
    <% @productos.each do |i| %>
        <%= partial 'home/product', locals: {item: i} %>
        <!-- 
        <li id="Producto_<%= i.id %>" class="Producto<%= cart_has_product(i.id) ? ' ProductoSelected' : '' %>">
            <a href="javascript:void(0)" class="Check">
                <div class="Ticket"></div>
            </a>
            <a href="<%= url(:home, :producto) %>/<%=i.id%>" class="Detalle">

                <img src="<%= i.image_url %>" />
                <div class="DetalleProducto">
                    <p class="Especificacion"><%= i.name %></p>
                    <p class="Local"><%= i.local %></p>
                    <p class="Numero"><%= i.number %></p>
                    <p>Valor Caja</p>
                    <% unless i.price.blank? %>
                        <p class="PrecioInternet">
                            Internet 
                                <span><%= number_to_currency i.price %> 
                                    <% unless i.normal_price.blank? %>
                                        (-<%= (100-(i.price*100.0)/i.normal_price).round %>%)
                                    <% end %>
                                </span>
                        </p>
                    <% end %>
                    <% unless i.normal_price.blank? %>
                        <p class="PrecioNormal"> Precio Normal <span><%= number_to_currency i.normal_price %></span></p>
                    <% end %>
                </div>
            </a>
        </li> -->
    <% end %>
</ul>
</div>
<script type="text/javascript">
    $('.Producto .Check').click(function(){
        var id = $(this).parent().attr('id');
        var p_id = id.split("_")[1];
        if( !$('#'+id).hasClass('ProductoSelected') )
        {
            $.get("<%= url(:api, :add_cart) %>/"+p_id);
            $('#'+id).addClass('ProductoSelected');
        }
        else
        {
            $.get("<%= url(:api, :del_cart) %>/"+p_id);
            $('#'+id).removeClass('ProductoSelected');   
        }
        
        

        //var altura = $('#wrapper').css('height');
        //$('body').attr({'style' : 'border-top:0;'});
        //$('#modal').attr({'style' : 'display:block;height:'+altura+';'});
        //$('#fade').attr({'style' : 'display:block;height:'+altura+';'});
    })
</script>
