%ul.nav.nav-tabs
  %li{class: ('active' if @current.eql?(:index))}=link_to tag_icon(:list, 'Pendientes'), url(:carts, :index)
  %li{class: ('active' if @current.eql?(:confeccion))}=link_to tag_icon(:list, 'En Confección'), url(:carts, :index_confeccion)
  %li{class: ('active' if @current.eql?(:entregando))}=link_to tag_icon(:list, 'Entregando'), url(:carts, :index_entregando)
  %li{class: ('active' if @current.eql?(:entregado))}=link_to tag_icon(:list, 'Entregado'), url(:carts, :index_entregado)
  %li{class: ('active' if @current.eql?(:eliminados))}=link_to tag_icon(:list, 'Eliminados'), url(:carts, :index_eliminados)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    -form_tag url(:carts, :destroy_many), :method => :delete do
                      =hidden_field_tag :cart_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-small.cancel=pat(:cancel)
        %th.header= mat(:cart, :id)
        %th.header= mat(:cart, :address)
        %th.header= mat(:cart, :telephone)
        %th.header= mat(:cart, :description)
        %th.header Total envío
        %th.header= mat(:cart, :total)
        %th.header= mat(:cart, :status)
        %th.header Usuario
        %th.header= mat(:cart, :sector_id)
        %th.header.list-row-action-header

    %tbody
      -@carts.each do |cart|
        %tr.list-row{class: ['', 'warning', 'warning', 'success', 'error muted'][cart.status]}
          %td.list-column.list-selectable
            =check_box_tag 'cart_ids[]', :value => cart.id, :class => 'list-selectable-checkbox'
          %td.list-column=cart.id
          %td.list-column= link_to cart.address, url(:carts, :edit, :id => cart.id)
          %td.list-column=cart.telephone
          %td.list-column=cart.description
          %td.list-column= number_to_currency cart.delivery_total
          %td.list-column= number_to_currency cart.total
          %td.list-column
            .badge{class: Cart::BADGES[cart.status]}
              = get_name Cart, :ESTADOS, cart.status
          %td.list-column=cart.account.nombre
          %td.list-column= cart.sector.nil? ? 'No registrado' : cart.sector.name
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:carts, :edit, :id => cart.id), :rel => :tooltip, :title => "#{pat(:edit)} cart", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} cart", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "cart")
                .popover-content
                  -form_tag url(:carts, :destroy, :id => cart.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-small.cancel=pat(:cancel)
